#light {
    background: url("./images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    height: 15em;
}

#dark {
    background: url("./images/bg-desktop-dark.jpg");
    height: 15em;
}

#dark .moon {
    background: url("./images/icon-moon.svg");
}

#light .sun {
    background: url("./images/icon-sun.svg");
}

#light .down {
    background: white;
}

#light .list{
    background: white;
    color: black;
}

#light .hover {
    color: grey;
}

#light .hover:hover {
    color: black;
}

@media screen and (min-width: 720px) {
    #light {
        background: url("./images/bg-mobile-light.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 15em;
    }

    #dark {
        background: url("./images/bg-mobile-dark.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
